@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="reset-pass-form">
    <h1>@ViewData["Title"]</h1>

    <form method="post" asp-route-mobile="@Model.MobileMode">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <input asp-for="Input.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pwd-icon"><i id="icon-pwd" class="fa fa-eye"></i></span>
                </div>
                <input asp-for="Input.Password" class="form-control active" id="pwd" />
            </div>
            <label class="hint">Minimum 6 characters</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('pwd-icon').onclick = function (event) {
            var inputPass = document.getElementById("pwd");
            var icon = document.getElementById("icon-pwd");
            if (inputPass.classList.contains('active')) {
                inputPass.setAttribute('type', 'text');
                inputPass.classList.remove('active');
                icon.className = 'fa fa-eye-slash';
            } else {
                inputPass.setAttribute('type', 'password');
                inputPass.classList.add('active');
                icon.className = 'fa fa-eye';
            }
        };
    </script>
}
