[*]
end_of_line = crlf
indent_style = space
csharp_new_line_before_open_brace = all

# can remove async/await pair
dotnet_diagnostic.AsyncFixer01.severity = suggestion

# obsolete
dotnet_diagnostic.CS0612.severity = suggestion
dotnet_diagnostic.CS0618.severity = suggestion

dotnet_diagnostic.CS8509.severity = suggestion
