$step1: "8px";
$step2: "16px";
$step3: "24px";
$step4: "32px";
$step5: "40px";
$step6: "48px";
$step7: "56px";
$step8: "64px";
$step9: "72px";
$step10: "80px";
$step11: "88px";
$step12: "96px";
$step13: "104px";
$step14: "112px";
$step15: "120px";
$step16: "128px";
$step17: "136px";
$step18: "144px";
$step19: "152px";
$step20: "160px";
